body {
  color: #444;
  font-family: "Open Sans", sans-serif;
  background: #9e2a2b;
  
}

a {
  color: #c14344;
  text-decoration: none;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #c14344;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #fff;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #71dfbe;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 100px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
  position: fixed;
}
#header #logo h1 {
  font-size: 2vw;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-right: 50px;
}

#header #logo h1 a {
  color: #c14344;
}
#header #logo h1 a span {
  color: #c14344;
}
#header #logo img {
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #444;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #c14344;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}


@keyframes fadeIndown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #c14344;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #c14344;
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #c14344;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #fff;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #fff;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  position: relative;
  background: url("../img/hero-carousel/1.jpg") no-repeat;
  background-size: cover;
  padding: 100px 0 0 0; 
}

#hero .hero-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero .hero-content h2 {
  color: white;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-style: Regular;
  font-size: 3vw;
}
#hero .hero-content h2 span {
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  color: white;
}
#hero .hero-content h2 span2 {
  font-family: "Roboto", sans-serif;
  font-style: Bold;
  font-weight: 750;
  font-size: 8vw;
  color: white;
}

#hero .hero-content .btn-get-started,
#hero .hero-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}
#hero .hero-content .btn-get-started {
  background: none;
  border: 2px solid #fff;
}
#hero .hero-content .btn-get-started:hover {
  background: #fff;
  color: #c14344;
}
#hero .hero-content .btn-projects {
  background: #fff;
  border: 2px solid #fff;
}
#hero .hero-content .btn-projects:hover {
  background: none;
  color: #fff;
}
#hero .hero-slider {
  z-index: 8;
  height: 90vh;
}
#hero .hero-slider::before {
  content: "";
  background: linear-gradient(90deg, #bd413f, #4e1f1d);
  mix-blend-mode: multiply;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}
#hero .hero-slider .swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
} 
 
 @keyframes rise {
   0% {padding-top: 100%;}
   60% {padding-top: 7%;}
   80% {padding-top: 7%; border-bottom: 0px solid #fff; opacity: 0.5; text-shadow: 2px 2px 200px rgba(255, 255, 255, 1);}
   100% {padding-top: 7%; border-bottom: 0px #fff; opacity: 1; text-shadow: 200px 200px 200px rgba(255, 255, 255, 0);}
 }


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header {
  margin: 0px 40px 60px 60px;
}
.section-header h0 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 32px;
  color: #c14344;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}
.section-header h0 span {
  font-size: 32px;
  color: #ffc400;
  font-style: bold;
  position: relative;
  padding-bottom: 20px;
}
.section-header h2 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}
.section-header h2 span {
  font-size: 32px;
  color: #f1c40f;
  font-style: italic;
  position: relative;
  padding-bottom: 20px;
}
.section-header h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #fff;
  bottom: 0;
  left: 0;
}
.section-header p {
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #fafafa;
  min-height: 40px;
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* About Section
--------------------------------*/
#about {
  padding: auto;
  background-image: url("/assets/img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#about .about-img {
  overflow: hidden;
}

#about .about-img {
  position: relative;
  padding-bottom: 56.2%;
  margin-bottom: 20px ;
}

#about .about-img .responsive-iframe {
  position: absolute;
  object-fit: cover;
  text-align: center;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}
@media (max-width: 480px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 40px;
  }
}
#about .content {
  margin-left: 5%;
}
#about .content h2 {
  color: #fff;
  font-weight: 700;
  padding-top: auto;
  font-size: 4.5vh;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: Bold;
}
#about .content h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2vh;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}
#about .content p:last-child {
  margin-bottom: 0;
}
#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #fff;
}
#about .content ul {
  list-style: none;
  padding: 0;
}
#about .content ul li {
  padding-bottom: 40px;
}

/* Clients Section
--------------------------------*/
#clients {
  padding: 30px 0;
  background-color: #fff;
}
#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}
#clients img:hover {
  opacity: 1;
}
#clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
#clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #c14344;
}
#clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #c14344;
}

/* Our Portfolio Section
--------------------------------*/
#portfolio {
  padding: 30px 0;
  background-image: url("/assets/img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio .section-header {
  margin-bottom: auto;
}


#cards_landscape_wrap-2{
  text-align: center;
}
#cards_landscape_wrap-2 .container{
  padding-top: auto; 
  padding-bottom: 20px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
  height: 420px;
  width: 100%;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
  height: auto;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: small;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #c14344;
}
/*FAQ Section
--------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c14344;
}
section {
  padding: 60px;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq {
  padding: 50 0 0 0;
  background: #f7fbff;
  min-height: 50vh;
}

.faq .section-title {
  margin-bottom: 54px;
}

.faq .section-title h2 {
  margin-bottom: 22px;
}

.faq .accordion .card {
  border: none;
  margin-bottom: 30px;
}

.faq .accordion .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

.faq .accordion .card .card-header {
  border: none;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

.faq .accordion .card .card-header h5 {
  padding: 0;
}

.faq .accordion .card .card-header h5 button {
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  padding: 0 30px 0 70px;
  height: 80px;
  display: block;
  width: 100%;
  color: #fff;
  text-align: left;
  background-image: url("/assets/img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.faq .accordion .card .card-header h5 button:after {
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 100%;
  content: "\f067";
  font-size: 10px;
  line-height: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.faq .accordion .card .card-header h5 button.collapsed {
  background-image: url("/assets/img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(97, 125, 255, 0.2);
}

.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
  content: "\f068";
  color: #fff;
}

.faq .accordion .card .card-body {
  -webkit-box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: auto;
  border-radius: 0 0 10px 10px;
  padding-top: 0;
  margin-top: 10px;
  padding-left: 72px;
  padding-right: 10px;
  padding-bottom: 23px;
  color: #000000;
  line-height: 30px;
}
/* Our Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 10 0 0 10;
}
#team .member {
  text-align: center;
  margin-bottom: 20px;
}
#team .member .pic {
  overflow: hidden;
  text-align: center;
}
#team .member .pic img {
  max-width: 100%;
}
#team .member .details {
  background: #c14344;
  color: #fff;
  padding: 15px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}
#team .member h4 {
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin-bottom: 2px;
  font-size: 18px;
}
#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
#team .member .social {
  margin-top: 5px;
}
#team .member .social a {
  color: #fff;
}
#team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  padding: 30px 0;
  background-image: url("/assets/img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}
#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
}
#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #fff;
}
#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
#contact .contact-info a {
  color: #c1c1c1;
}
#contact .contact-info a:hover {
  color: #c14344;
}
#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 20px 0;
  }
}
@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
